body {
  font-family: 'Montserrat', sans-serif;
}
.background-container {
  background-color: #0a0a0a;
  color: #fff;
  padding: 20px;
}

.introduction-text {
  font-size: 25px;
  text-align: center;
}

hr {
  border: 0;
  height: 1px;
  background-color: #e93d3a;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.d-flex .icon {
  font-size: 3rem;
  margin: 10px;
}

.card-footer .fa-linkedin {
  transition: color 0.3s ease, transform 0.3s ease;
}

.card-footer .fa-linkedin:hover {
  color: #e93d3a;
  transform: scale(1.2);
}

.card-footer a {
  color: inherit; 
}

.card-footer a:hover {
  color: inherit; 
}

.card-footer a.clicked .fa-linkedin {
  color: red;
}

.team-cards {
  perspective: 1000px;
}

.card {
  transition: transform 0.3s;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.card:hover {
  transform: translateY(-10px);
}
