body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  background-color: #0a0a0a !important;
  color: white;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #e93d3a;
}

.product-nav,
.about-us-nav {
  color: white;
}

.product-nav:hover,
.about-us-nav:hover {
  color: #e93d3a;
}

.logo {
  margin-left: 30px;
  width: 200px;
}

.person-fill,
.cart-icon {
  font-size: 20px;
  margin-left: 20px;
  margin-right: 10px;
  cursor: pointer;
  color: #e93d3a;
}

/* Forzar color en todos los estados para person-fill y cart-icon */
.person-fill,
.person-fill:hover,
.person-fill:focus,
.person-fill:active,
.cart-icon,
.cart-icon:hover,
.cart-icon:focus,
.cart-icon:active {
  color: #e93d3a !important;
}

/* Quitar la flecha hacia abajo del Dropdown.Toggle */
.person-fill::after {
  display: none !important;
}

/* Estilo personalizado para el menú del dropdown */
.dropdown-menu-custom {
  background-color: #0a0a0a; /* Fondo negro */
  color: #e93d3a; /* Letras rojas */
  border: none;
}

/* Estilo para los elementos del dropdown */
.dropdown-menu-custom .dropdown-item {
  color: #e93d3a; /* Letras rojas */
}

.dropdown-menu-custom .dropdown-item:hover {
  background-color: #e93d3a; /* Fondo rojo al pasar el ratón */
  color: #0a0a0a; /* Letras negras al pasar el ratón */
}

@media (max-width: 992px) {
  .navbar {
    flex-wrap: wrap;
  }

  .navbar-logo {
    margin-bottom: 10px;
  }

  .navbar-nav {
    flex-direction: column;
  }

  .product-nav,
  .about-us-nav {
    margin-left: 0;
    margin-right: 20px;
  }
}

@media (max-width: 768px) {
  .logo {
    width: 150px;
  }

  .person-fill,
  .cart-icon {
    font-size: 18px;
    margin-left: 10px;
    margin-right: 5px;
  }
}

@media (max-width: 576px) {
  .logo {
    width: 100px;
  }

  .product-nav,
  .about-us-nav {
    font-size: 14px;
  }

  .person-fill,
  .cart-icon {
    font-size: 16px;
    margin-left: 5px;
    margin-right: 5px;
  }
}
img {
  -webkit-user-drag: none;
  user-drag: none;
}
.img {
  width: 100%;
  height: auto;
  max-height: 700px;
  object-fit: cover;
}

.main-container .carousel {
  max-height: 700px;
  overflow: hidden;
}

.main-carousel-item {
  height: 700px;
}

.carousel-item img {
  height: 100%;
}

.carousel-indicators [data-bs-target] {
  background-color: rgb(32, 30, 30);
  width: 100px;
  height: 5px;
  border-radius: 5px;
}

.carousel-indicators .active {
  background-color: #e93d3a;
  width: 100px;
  height: 5px;
  border-radius: 5px;
}

@media (max-width: 1200px) {
  .main-carousel-item {
    height: 600px;
  }

  .img {
    max-height: 600px;
  }
}

@media (max-width: 992px) {
  .main-carousel-item {
    height: 500px;
  }

  .img {
    max-height: 500px;
  }
}

@media (max-width: 768px) {
  .main-carousel-item {
    height: 400px;
  }

  .img {
    max-height: 400px;
  }
}

@media (max-width: 576px) {
  .main-carousel-item {
    height: 300px;
  }

  .img {
    max-height: 300px;
  }
}

@media (max-width: 480px) {
  .main-carousel-item {
    height: 200px;
  }

  .img {
    max-height: 200px;
  }

  .carousel-indicators [data-bs-target] {
    width: 50px;
    height: 3px;
  }

  .carousel-indicators .active {
    width: 50px;
    height: 3px;
  }
}

#explore-container {
  max-height: 100%;
}

.product-card {
  height: 100%;
  overflow-wrap: break-word;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}
.p {
  font-family: "Montserrat", sans-serif;
}

.background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.container {
  position: relative;
  z-index: 1;
}

.cards-img {
  width: 40%;
  padding: 30px;
}

.cardstestimonials.card {
  background: rgb(185, 179, 179);
  border-radius: 16px;
}

.cardstestimonials {
  color: black;
}

.testimonials-container {
  position: relative;
  padding-bottom: 100px;
  background-color: black;
  color: white;
}
.background-img {
  width: 100%;
}

.black-text {
  color: white !important;
}

.cardstestimonials .black-text {
  color: black !important;
  text-align: left;
}

.product-list {
  margin-top: 125px;
}
.banner-img {
  max-width: 100%;
}

.product-li {
  border-bottom: solid 0.5px rgb(178, 178, 178);
  padding-bottom: 10px;
  padding-top: 10px;
}

.button {
  background-color: #e93d3a;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: "Montserrat";
}
.p {
  font-family: "Montserrat";
}

.form-container {
  background-color: white;

  justify-content: flex-end;
}
.datos-card {
  background-color: #e93d3a;
  font-family: "Montserrat";
  color: white;
}
.form-check-label {
  color: #0a0a0a;
}
.Forms.shopping {
  background-color: #eaeaea;
}
