.footer {
  background-color: black;
  color: #fff;
  padding: 20px;
  
}

.footer-container {
  display: flex;
  justify-content: center; 
}

.footer-content {
  width: 100%; 
  max-width: 1200px; 
}

.footer-row {
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.footer-nav,
.footer-links {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.footer-nav li,
.footer-links li {
  margin-right: 20px;
}

.footer-icons {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center; 
}

.footer-icons li {
  margin-left: 10px;
}

.footer-hr {
  width: 100%;
  height: 2px;
  background-color: red;
  border: none;
  margin: 20px 0;
}

.footer-link {
  color: #fff; 
  text-decoration: none; 
}
