body {
  background-color: #000;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.product-list {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sidebar-unique {
  background-color: #1a1a1a;
  color: #fff;
  padding: 15px;
  position: -webkit-sticky; /* Para compatibilidad con navegadores basados en WebKit */
  position: sticky;
  top: 20px;
  height: calc(100vh - 120px);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}

.sidebar-unique h4 {
  background: linear-gradient(90deg, rgb(75, 5, 5) 0%, rgb(194, 0, 0) 48%, rgba(206,0,0,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 20px;
}

.nav-unique {
  padding: 0;
  margin: 0;
  list-style: none;
  flex-grow: 1;
}

.product-li-unique {
  margin-bottom: 10px;
}

.product-li-unique a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 8px;
  background-color: #333;
}

.product-li-unique a:hover {
  background-color: #555;
  color: #fff;
}

.product-li-unique a.active {
  font-weight: bold;
  background-color: #f00;
  color: #fff;
}

.breadcrumb a {
  color: #fff; /* Cambiar el color de los enlaces de breadcrumb a blanco */
  text-decoration: none;
}

.breadcrumb a:hover {
  color: #f00; /* Cambiar el color al pasar el ratón a rojo */
}

.card-product-unique {
  border: 1px solid #dee2e6;
  border-radius: 8px;
  padding: 15px;
}

.card-product-unique:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
