body {
  margin: 0;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  background-color: #0a0a0a;
  color: white;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #E93D3A;
}

.logo {
    margin-left: 30px;
  width: 200px;
}

.search-bar {
    margin-left: 50px;
  padding: 6px;
  width: 400px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.menu{
  margin-left: 10px;
  
}

.person-fill{
 font-size: 20px;
}

#dropdown-basic{
  background-color: transparent;
  color: #E93D3A;
  border: none;
  margin-right: 20px
}

.dropdown-toggle::after {
  display:none !important; 
}

.dropdown-item:hover {
  background-color: grey !important; 
}
