body {
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  background-color: #0a0a0a !important;
  color: white;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #e93d3a;
}

.product-nav,
.about-us-nav {
  color: white;
}

.product-nav:hover,
.about-us-nav:hover {
  color: #e93d3a;
}

.logo {
  margin-left: 30px;
  width: 200px;
}

.person-fill,
.cart-icon {
  font-size: 20px;
  margin-left: 20px;
  margin-right: 10px;
  cursor: pointer;
  color: #e93d3a;
}

@media (max-width: 992px) {
  .navbar {
    flex-wrap: wrap;
  }

  .navbar-logo {
    margin-bottom: 10px;
  }

  .navbar-nav {
    flex-direction: column;
  }

  .product-nav,
  .about-us-nav {
    margin-left: 0;
    margin-right: 20px;
  }
}

@media (max-width: 768px) {
  .logo {
    width: 150px;
  }

  .person-fill,
  .cart-icon {
    font-size: 18px;
    margin-left: 10px;
    margin-right: 5px;
  }
}

@media (max-width: 576px) {
  .logo {
    width: 100px;
  }

  .product-nav,
  .about-us-nav {
    font-size: 14px;
  }

  .person-fill,
  .cart-icon {
    font-size: 16px;
    margin-left: 5px;
    margin-right: 5px;
  }
}

.img {
  width: 100%;
  height: auto;
  max-height: 700px;
  object-fit: cover;
}

.main-container .carousel {
  max-height: 700px;
  overflow: hidden;
}

.main-carousel-item {
  height: 700px;
}

.carousel-item img {
  height: 100%;
}

.carousel-indicators [data-bs-target] {
  background-color: rgb(32, 30, 30);
  width: 100px;
  height: 5px;
  border-radius: 5px;
}

.carousel-indicators .active {
  background-color: #e93d3a;
  width: 100px;
  height: 5px;
  border-radius: 5px;
}

@media (max-width: 1200px) {
  .main-carousel-item {
    height: 600px;
  }

  .img {
    max-height: 600px;
  }
}

@media (max-width: 992px) {
  .main-carousel-item {
    height: 500px;
  }

  .img {
    max-height: 500px;
  }
}

@media (max-width: 768px) {
  .main-carousel-item {
    height: 400px;
  }

  .img {
    max-height: 400px;
  }
}

@media (max-width: 576px) {
  .main-carousel-item {
    height: 300px;
  }

  .img {
    max-height: 300px;
  }
}

@media (max-width: 480px) {
  .main-carousel-item {
    height: 200px;
  }

  .img {
    max-height: 200px;
  }

  .carousel-indicators [data-bs-target] {
    width: 50px;
    height: 3px;
  }

  .carousel-indicators .active {
    width: 50px;
    height: 3px;
  }
}

#explore-container {
  max-height: 100%;
}

.product-card {
  height: 100%;
  overflow-wrap: break-word;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

.background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.container {
  position: relative;
  z-index: 1;
}

.collage {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}

.collage-item {
  position: relative;
  width: 100%;
  height: 310px;
  overflow: hidden;
  cursor: pointer;
}

.background-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.collage-item:hover .overlay {
  opacity: 1;
}

.overlay h2,
.overlay p,
.overlay button {
  margin: 0;
  padding: 0;
}

.overlay h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.overlay p {
  font-size: 20px;
  margin: 10px 0;
}

.overlay button {
  margin-top: 10px;
  padding: 10px 20px;
  background: rgb(233, 61, 58);
  background: radial-gradient(
    circle,
    rgba(233, 61, 58, 1) 0%,
    rgba(60, 60, 60, 1) 100%
  );
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
}

.cards-img {
  width: 40%;
  padding: 30px;
}

.cardstestimonials.card {
  background: rgba(255, 255, 255, 0.28);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(9, 9, 8, 0.1);
  backdrop-filter: blur(7.4px);
  -webkit-backdrop-filter: blur(7.4px);
  border: 1px solid rgba(255, 255, 255, 0.368);
  -webkit-box-shadow: 25px 11px 50px 0px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 25px 11px 50px 0px rgba(0, 0, 0, 0.57);
  box-shadow: 25px 11px 50px 0px rgba(0, 0, 0, 0.57);
}

.cardstestimonials {
  color: black;
}

.testimonials-container {
  position: relative;
  padding-bottom: 100px;
  color: white;
}
.background-img {
  width: 100%;
}

.black-text {
  color: white !important;
}

.cardstestimonials .black-text {
  color: black !important;
  text-align: left;
}

.product-list {
  margin-top: 125px;
}
.banner-img {
  margin-top: 70px;
  max-width: 100%;
}

.product-li {
  border-bottom: solid 0.5px rgb(178, 178, 178);
  padding-bottom: 10px;
  padding-top: 10px;
}
