body {
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  background-color: #0a0a0a !important;
  color: white;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #e93d3a;
}

.logo {
  margin-left: 30px;
  width: 200px;
}

.search-bar {
  margin-left: 50px;
  padding: 10px;
  width: 400px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.menu {
  margin-left: 10px;
}

.person-fill {
  font-size: 20px;
  margin-left: 20px;
  margin-right: 10px;
  cursor: pointer;
}
.cart-icon {
  font-size: 20px;
  margin-left: 20px;
  margin-right: 10px;
  cursor: pointer;
}

#dropdown-basic {
  background-color: transparent;
  color: #e93d3a;
  border: none;
  margin-right: 40px;
}

.dropdown-toggle::after {
  display: none !important;
}

.dropdown-item:hover {
  background-color: grey !important;
}

.img {
  width: 100%;
  height: auto;
  max-height: 650px;
  object-fit: cover;
}

.main-container .carousel {
  max-height: 650px;
  overflow: hidden;
}

.main-carousel-item {
  height: 500px;
}

.carousel-item img {
  height: 100%;
}

.carousel-indicators [data-bs-target] {
  background-color: rgb(32, 30, 30);
  width: 100px;
  height: 5px;
  border-radius: 5px;
}

.carousel-indicators .active {
  background-color: #e93d3a;
  width: 100px;
  height: 5px;
  border-radius: 5px;
}

#explore-container {
  max-height: 100%;
}

.product-card {
  height: 100%;
  overflow-wrap: break-word;
}

h3{
font-family: 'Montserrat', sans-serif; 
  font-weight: 800;
}

.testimonials{
  background-image: url("img/Fondotestimonios.jpg");
  padding-bottom: 200px;
}
body {
  margin: 0;
}

.collage {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual tamaño */
  gap: 10px; /* Espacio entre los elementos */
  margin: 20px; /* Espacio alrededor de la rejilla */
}

.collage-item {
  position: relative;
  width: 100%; /* Ancho completo del contenedor */
  height: 300px; /* Ajusta la altura según tus necesidades */
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.collage-item:hover {
  transform: scale(1.05);
}

.background-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.collage-item:hover .background-img {
  opacity: 0.8;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.collage-item:hover .overlay {
  opacity: 1;
}

.overlay h2 {
  margin: 0;
  font-size: 1.5rem; /* Ajusta el tamaño de la fuente */
}

.overlay p {
  font-size: 1rem;
  margin: 10px 0;
}

.overlay button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: yellow;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}
