.icons-footer .icon {
  font-size: 20px; 
  padding-right: 5px;
}

.icons-footer .icon:hover {
  color: #e93d3a; 
}

.footer-link {
  text-decoration: none; 
  color: inherit;}

.footer-link:hover {
  color: #e93d3a; 
}

.page-footer{
background-color: #0a0a0a;
}