.footer {
  background-color: black;
  color: #fff;
  padding: 20px;
}

.nav-footer,
.icons-footer,
.second-nav-footer,
.globe-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.nav-footer-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px; /* Added gap for spacing */
}

.nav-footer li,
.icons-footer li,
.second-nav-footer li,
.globe-nav li {
  margin-right: 18px;
}

.nav-footer li:last-child,
.icons-footer li:last-child,
.second-nav-footer li:last-child,
.globe-nav li:last-child {
  margin-right: 0;
}

.nav-footer li a,
.second-nav-footer li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.nav-footer li a:hover,
.second-nav-footer li a:hover,
.icons-footer li:hover i {
  color: #e93d3a; /* Change color on hover */
}

.text-muted {
  font-size: 12px;
  margin-top: 10px;
}

.icons-footer li i {
  font-size: 18px;
}

.icons-footer {
  justify-content: flex-end;
}

.icons-footer li:first-child {
  margin-left: 0;
}

.second-nav-footer {
  justify-content: flex-end;
  margin-left: auto;
}

.globe-nav {
  justify-content: flex-start;
  position: relative;
  top: 10px;
  margin-top: 20px;
}

.icon-div i:hover {
  color: #e93d3a;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .nav-footer-container,
  .icons-footer,
  .second-nav-footer,
  .globe-nav {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Added gap for spacing */
  }

  .nav-footer li,
  .icons-footer li,
  .second-nav-footer li,
  .globe-nav li {
    margin-bottom: 10px;
    margin-right: 0;
  }

  .nav-footer,
  .icons-footer,
  .second-nav-footer,
  .globe-nav {
    align-items: center;
  }
}

@media (max-width: 576px) {
  .nav-footer li a,
  .second-nav-footer li a {
    font-size: 16px;
  }

  .icons-footer li i {
    font-size: 16px;
  }

  .text-muted {
    font-size: 10px;
  }
}
